<header class="header">
	<div class="container">
		<a href="./index.html" class="link link-styles logo">Web<span
				class="logo-accent">Studio</span>
		</a>
		<nav class="header-nav">
			<ul class="list interactive list-styles">
				<li class="thickness"><a class="link current-dynamic"
						href="./index.html">Studio</a>
				</li>
				<li class="thickness"><a class="link current-dynamic"
						href="./portfolio.html">Portfolio</a></li>
				<li class="thickness"><a class="link current-dynamic" href="#"
						data-modal-open>Contacts</a></li>
			</ul>
		</nav>
		<address class="address">
			<ul class="list interactive list-styles">
				<li><a class="link"
						href="mailto:info@devstudio.com">info@devstudio.com</a></li>
				<li><a class="link" href="tel:+110001111111">+11 (000) 111-11-11</a>
				</li>
			</ul>
		</address>
		<button class="menu-toggle js-open-menu" aria-expanded="false"
			aria-controls="mobile-menu">
			<svg class="menu-hamburger" width="32" height="22">
				<use href="./img/icon.svg#hamburger"></use>
			</svg>
		</button>
	</div>
</header>