<div class="menu-container js-menu-container" id="mobile-menu">
	<div class="container">
		<button class="menu-toggle js-close-menu">
			<svg class="close" width="8" height="8">
				<use href="./img/icon.svg#close"></use>
			</svg>
		</button>
		<ul class="list interactive list-styles mobile-menu-nav">
			<li class="thickness"><a class="link current-dynamic"
					href="./index.html">Studio</a>
			</li>
			<li class="thickness"><a class="link current-dynamic"
					href="./portfolio.html">Portfolio</a></li>
			<li class="thickness"><a class="link current-dynamic" href="">Contacts</a>
			</li>
		</ul>
		<div class="contacts">
			<ul class="list interactive list-styles mobile-menu-address">
				<li><a class="link mobile-menu-tel thickness"
						href="tel:+110001111111">+11(000)111-11-11</a>
				</li>
				<li><a class="link mobile-menu-email"
						href="mailto:info@devstudio.com">info@devstudio.com</a>
				</li>
			</ul>
			<ul class="list social-list">
				<li class="footer-social-media"><a href=""
						class="links-container links-container-footer">
						<svg class="icon links" width="24" height="24">
							<use href="./img/icon.svg#instagram"></use>
						</svg>
					</a></li>
				<li class="footer-social-media"><a href=""
						class="links-container links-container-footer">
						<svg class="icon links" width="24" height="24">
							<use href="./img/icon.svg#twitter"></use>
						</svg>
					</a></li>
				<li class="footer-social-media"><a href=""
						class="links-container links-container-footer">
						<svg class="icon links" width="24" height="24">
							<use href="./img/icon.svg#facebook"></use>
						</svg>
					</a></li>
				<li class="footer-social-media"><a href=""
						class="links-container links-container-footer">
						<svg class="icon links" width="24" height="24">
							<use href="./img/icon.svg#linkedin"></use>
						</svg>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>